extends ./layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="login")
    .block
      .form-container
        h1 Registrarse
        include ./partials/err_messages.jade
        form(action="/users/register" method="POST")
          .input-row 
            .lb-input
              label(for="name") Nombre Completo
            input(type="text"
            id="name"
            name="name" 
            value= typeof err_messages != 'undefined' ? typeof err_messages.name != 'undefined' ? err_messages.name : '' : '' 
            required)
          .input-row 
            .lb-input
              label(for="email") Email
            input(type="email" 
            id="email" 
            name="email" 
            value= typeof err_messages != 'undefined' ? typeof err_messages.email != 'undefined' ? err_messages.email : '' : '' 
            required) 
          .input-row 
            .lb-input
              label(for="password") Contraseña
            input(type="password" id="password" name="password" required) 
          .input-row 
            .lb-input
              label(for="password_confirmation") Repetir Contraseña
            input(type="password" id="password_confirmation" name="password_confirmation" required) 
          button.btn(type="submit") Enviar 
        a(href="/users/login") Ya tienes una cuenta? - Inicia Sesión
