extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="projectView")
    #mng-op.container-content.g-cont
      .cards-container.esp-layout
        .container-content.ttl-width
          .inner
            h3.p-title Informaci贸n del Proyecto
            .container-content.ttl-width
              p Nombre del Proyecto : #[span.date #{project.title}]
              p Fecha de creaci贸n : #[span.date #{project.date.getDate()}/#{project.date.getUTCMonth() + 1}/#{project.date.getFullYear()}]
              p Ultima actualizaci贸n : #[span.date #{project.lastUpdate.getDate()}/#{project.lastUpdate.getUTCMonth() + 1}/#{project.lastUpdate.getFullYear()}]
              p Vista previa :
              - let content = project.html? project.html : '<p class="info-msg">No hay informaci贸n al respecto.<i class="far fa-frown"></i></p>'
              .p-section
                .p-container
                  .p-list-item
                    .p-item-title
                      span #{project.title}
                      i.fas.fa-times-circle
                      i.fas.fa-minus-circle
                    .list-item-container
                      .item-content
                        :verbatim
                          !{content}
          .inner
            .form-container.container-content.ttl-width
              form(action="/users/gestion/proyectos/#{project._id}?_method=PUT" method="POST")
                p Titulo :
                .input-row 
                  input(type="text" name="title" id="title" value="#{project.title}" required)
                p Contenido Markdown : 
                .input-row 
                  textarea(name="markdown" id="markdown" rows="10" required) #{project.markdown}
                button.btn(type="submit") Enviar 
        include ../partials/gestionNavigation.jade
